<div>
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
</div>

<div>
  <h2><%= @our_result %></h2>

  <h2><%= @their_result %></h2>

  <h2><%= @final_result %></h2>
</div>

<div>
  <li><a href="/">Rules</a></li>
</div>
